* {
  padding: 0;
  margin: 0;
  text-align: center;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;

}
nav{
  height:75px;
  background-color: rgb(56, 54, 52);
  color: #000;
    
}

nav ul li{
  list-style-type: none;
  
}
nav ul li a{
  color: white;
  list-style-type: none;
  text-decoration: none;
  
}
a {
  text-decoration: none;
  color: #000;
  
  
}

button{
  background-color: Black;
  height:30px;
  width: auto;  
  color:white;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 25px;
  border: none;
  padding:5px;
}

.contents{
  margin:25px;
  padding:25px;
  margin-bottom: 50px;
}
h1{
  margin-bottom:25px
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  background-color: bisque;
  transition: border-bottom .5s ease-in-out;
}
p{
  text-align: justify;
  
}
.contents h3{
  margin: 25px;
}

.article{
  text-decoration: underline;
}
